@{
    ViewBag.Title = "Livraria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="container body-content">
        @{Html.RenderPartial("_ListarLivros"); }
        </div>
</body>
